# Code Owners for MAUL
# These users will be automatically requested for review on PRs

# Default owners for everything in the repo
# TODO: Replace with your GitHub username or team
@JacobRMiller

# Python application code
/maul-py/ @JacobRMiller


# Documentation
*.md @JacobRMiller


# Docker and infrastructure
docker-compose.yml @JacobRMiller
Dockerfile @JacobRMiller

